.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.form input {
  padding: 14px;
  width: 100%;
  border-radius: 5px;
  border: none;
  background-color: var(--bg);
  outline: none;
}

.form button {
  padding: 14px;
  background-color: var(--btn);
  color: var(--text);
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}
