.container {
  display: flex;
  gap: 100px;
  margin-top: 50px;
}

.imageContainer {
  flex: 1;
  width: 500px;
  height: 500px;
  position: relative;
}

.img {
  object-fit: cover;
}

.textContainer {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 64px;
}

.detail {
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}

.detailText {
  display: flex;
  flex-direction: column;
}

.detailTitle {
  color: gray;
  font-weight: bold;
}

.deailValue {
  font-weight: 500;
}

.content {
  font-size: 20px;
}

@media (max-width: 768px) {
  .imageContainer {
    display: none;
  }
}
